<a href='http://github.com/cbetta/hackcoc' class="ui black right corner label">
  <i class='fork icon'></i>
</a>

<h1>
  <% if @supporter %>
    <%= link_to request.original_url  do %>
    <%= @supporter.hack %><br>
     Code of Conduct
    <% end %>
  <% else %>
    <a href="/">Hack Code of Conduct</a>
  <% end %>
</h1>

<div class="ui warning icon message">
  <i class='ui icon warning circle'></i>
  <div class="content">
    <p>
      All attendees, sponsors, partners, volunteers and staff at our hackathon are required to agree with the following code of conduct. Organisers will enforce this code throughout the event. We expect cooperation from all participants to ensure a safe environment for everybody.
    </p>
  </div>
</div>

<% if @supporter %>
  <%= render 'supporters/help' %>
<% else %>
  <%= render 'pages/custom_note' %>
<% end %>

<h2 class='ui dividing header'>
  <small><i class='code icon'></i></small>
  <div class="content">
    The Quick Version
  </div>
</h2>

<div class='ui segments'>
  <div class='ui segment'>
    Our hackathon is dedicated to providing a harassment-free experience for everyone, regardless of the following.
  </div>
  <div class='ui segment'>

    <ul>
      <li>gender</li>
      <li>gender identity and expression</li>
      <li>age</li>
      <li>sexual orientation</li>
      <li>disability</li>
      <li>physical appearance</li>
      <li>body size</li>
      <li>race</li>
      <li>ethnicity</li>
      <li>nationality</li>
      <li>religion</li>
      <li>previous hackathon attendance or lack of</li>
      <li>computing experience or lack of</li>
    </ul>
  </div>

  <div class='ui segment'>
    We do not tolerate harassment of hackathon participants in any form. Sexual language and imagery is not appropriate at any hackathon venue, this includes the following.
  </div>

  <div class='ui segment'>
    <ul>
      <li>hacks</li>
      <li>talks, presentations, or demos</li>
      <li>workshops</li>
      <li>any parties associated to the hackathon</li>
      <li>social media</li>
      <li>any other online media</li>
    </ul>
  </div>

  <div class='ui segment'>
    Hackathon participants violating these rules <strong>may be sanctioned or expelled</strong> from the hackathon <strong>without a refund</strong> (if applicable) at the discretion of the hackathon organisers.
  </div>
</div>

<h2 class='ui dividing header'>
  <small><i class='file text outline icon'></i></small>
  <div class="content">
    The Less Quick Version
  </div>
</h2>

<div class="ui segments">
  <div class='ui segment'>
    Harassment includes offensive verbal comments related to gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, nationality, or religion, sexual images in public spaces, deliberate intimidation, stalking, following, photography or audio/video recording against reasonable consent, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.
  </div>

  <div class='ui segment'>
    Photography is encouraged, but other participants must be given a reasonable chance to opt out from being photographed. If they object to the taking of their photograph, comply with their request. It is inappropriate to take photographs in contexts where people have a reasonable expectation of privacy (in bathrooms or where participants are sleeping).
  </div>

  <div class='ui segment'>
    Participants asked to stop any harassing behavior are expected to comply immediately.
  </div>

  <div class='ui segment'>
    As this is a hackathon, we like to explicitly note that the hacks created at our hackathon are equally subject to the anti-harassment policy.
  </div>

  <div class='ui segment'>
    Sponsors and partners are also subject to the anti-harassment policy. In particular, sponsors should not use sexualised images, activities, or other material. Sponsor representatives (including volunteers) should not use sexualised clothing/uniforms/costumes, or otherwise create a sexualised environment.
  </div>

  <div class='ui segment'>
    If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of hackathon staff immediately.
  </div>

  <div class='ui segment'>
    Hackathon staff will be happy to help participants contact any local security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the hackathon. We value your attendance.
  </div>

  <div class='ui segment'>
    If a participant engages in harassing behavior, the hackathon organisers may take any action they deem appropriate. This includes warning the offender, expulsion from the hackathon with no refund (if applicable), or reporting their behaviour to local law enforcement.
  </div>

  <div class='ui segment'>
    We expect participants to follow these rules at hackathon and workshop venues and hackathon-related social events.
  </div>
</div>

<h2 class='ui dividing header' id='supporters'>
  Supporters
  <div class="sub header">
    <%= Supporter.count %> and counting
  </div>
</h2>

<div class='ui attached info message'>
  <p>
    This is a generic <a href='/'>Code of Conduct for Hackathons</a><% if @supporter %> customised for <%= @supporter.hack %><% end %>. The people below have all signed this document and/or used a custom version of this document for their event.
  </p>
</div>
<div class="ui attached message">
  <div class="content ui grid">
      <div class="right aligned sixteen wide column">
        <div class="ui buttons">
          <a href='/supporters/new?is_custom=true' class="ui button">
            Customize
          </a>
          <div class="or"></div>
          <a href='/supporters/new' class="ui blue button">
            Support
          </a>
        </div>
      </div>
  </div>
</div>

<br><br>

<div class='ui stackable three cards'>
  <%= render Supporter.where(is_supporter: true).order(:created_at) %>
</div>

<br><br>

<div class="ui horizontal divider">
  Credits
</div>

<div class="ui small segment">
  <p>
    Created by <a href="https://betta.io">Cristiano Betta</a> with help of a lot of people.
    <a href="https://github.com/cbetta/hackcoc/" title="Fork on GitHub">Code available on GitHub</a>. Feel free to make any suggestions or create your own version.
  </p>

  <p>
    The Hack Code of Conduct is inspired by and indebted to the <a href='http://confcodeofconduct.com/'>Conference Code of Conduct</a>.
  </p>
</div>
