<div role="banner">
  <%= render 'pages/fork' %>
  <%= render 'pages/flash' if flash[:notice] %>
  <%= render 'pages/title' %>
</div>

<main role="main">
  <%= render 'pages/acceptance_notice' %>
  <%= render 'supporters/help' if @supporter %>
  <%= render 'pages/the_quick_version' %>
  <%= render 'pages/custom_note' unless @supporter %>
  <%= render 'pages/the_less_quick_version' %>
</main>

<div role='complementary'>
  <%= render 'pages/supporters' %>
</div>

<div role='contentinfo'>
  <%= render 'pages/credits' %>
</div>
