<%= simple_form_for(@supporter) do |f| %>
  <%= f.input :name, label: "Your name" %>
  <%= f.input :title, label: "Your job title/description" %>
  <%= f.input :company, label: "Your company or organisation" %>
  <%= f.input :url, label: "URL for you or your hackathon or organisation", placeholder: 'http://' %>
  <%= f.input :email, label: "Your email (won't be published)" %>
  <%= f.input :is_custom, label: "Create a custom Code of Conduct? &nbsp;".html_safe %>

  <div class='custom_form'>
    <%= f.input :hack, label: "Hackathon name" %>
    <%= f.input :slug, label: "Custom URL (http://hackcodeofconduct.org/???)", placeholder: '???' %>
    <%= f.input :phone, label: "Contact phone number" %>
    <%= f.input :is_supporter, label: "Also publish your name at the bottom of this page? &nbsp;".html_safe %>

  </div>

  <%= f.submit "Sign the Code of Conduct", class: 'submit btn btn-primary' %>
<% end %>
