<%= simple_form_for(@supporter, url: @url) do |f| %>
  <div class="ui segment">
    <%= f.input :name, label: "Name", placeholder: 'Joey McJoeyface' %>
    <%= f.input :company, label: "Hackathon or organisation name", placeholder: 'AcmeHack' %>
    <%= f.input :title, label: "Role", placeholder: 'Organiser' %>
    <%= f.input :url, label: "Hackathon/organisation URL", placeholder: 'http://' %>
    <%= f.input :email, label: "Email", placeholder: "Not published" %>
    <%= f.input :is_custom, wrapper: :ui_slider_checkbox, label: "Create a custom Code of Conduct? &nbsp;".html_safe %>
  </div>

  <div class='custom_form'>
    <div class="ui warning message">
      By creating a custom Code of Conduct your name, email, and phone number will be published. Please pick wisely.
    </div>

    <div class="ui segment">
      <%= f.input :hack, label: "Hackathon name", placeholder: "AcmeHack #{DateTime.now.year}" %>
      <%= f.input :phone, label: "Phone number", placeholder: '+1 444 5556 667' %>
      <%= f.input :is_supporter, wrapper: :ui_toggle_checkbox, label: "Also publish your name at the bottom of this page? &nbsp;".html_safe %>
    </div>

  </div>

  <br>

  <a href="/" class="ui left floated button">Cancel</a>

  <%=button_tag type: 'submit', class: 'ui right floated blue labeled icon button' do %>
    <% if @supporter.new_record? %>
      <i class='checkmark icon'></i>
      Sign the Code of Conduct
    <% else %>
      <i class='pencil icon'></i>
      Update your profile
    <% end %>
  <% end %>
  <br><br><br>

<% end %>
