<div id='supporter-<%= supporter.id %>' class='ui card supporter'>
  <div class="ui image">

    <%= image_tag(
          image_url('user.png'), class: 'lazy', alt: '', data: {
            src:  gravatar_url(supporter.email, size: 200, default: image_url('user.png'), secure: true)
          }
        ) %>
  </div>

  <div class="content user-info">
    <h3 class="ui header">
      <% if supporter.is_custom %>
        <%= link_to supporter.name, "/#{supporter.slug}" %>
      <% else %>
        <%= supporter.name %>
      <% end %>
    </h3>
    <div class="description">
      <%= supporter.title %>
      <%= "@ #{supporter.company}" unless supporter.company.blank? %>
    </div>
  </div>

  <% if supporter.maintainer %>
    <div class="ribbon">
      <span class="ui orange right ribbon label">Maintainer</span>
    </div>
  <% elsif supporter.sponsor %>
    <div class="ribbon">
      <span class="ui blue right ribbon label">Sponsor</span>
    </div>
  <% end %>

  <div class="extra content">
    <i aria-hidden="true" class='ui icon linkify'></i>
    <% if supporter.is_custom %>
      <%= link_if supporter.hack, supporter.url %>
    <% else %>
    <%= link_if supporter.company, supporter.url %>
    <% end %>
  </div>
</div>
