<div class='ui card'>
  <div class="image">
    <%= image_tag(
          image_url('user.png'), class: 'lazy', data: {
            src:  gravatar_url(supporter.email, size: 200, default: image_url('user.png'))
          }
        ) %>
  </div>
  <div class="content">
    <div class="ui header">
      <% if supporter.is_custom %>
        <%= link_to supporter.name, "/#{supporter.slug}" %>
      <% else %>
        <%= supporter.name %>
      <% end %>
    </div>
    <div class="description">
      <%= supporter.title %>
      <%= "@ #{supporter.company}" unless supporter.company.blank? %>
    </div>
  </div>

  <div class="extra content">
    <i class='ui icon linkify'></i>
    <%= link_if supporter.hack, supporter.url %>

  </div>
</div>
