<!DOCTYPE html>
<html>
<head>
  <title>The Hack Code of Conduct</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <link href='http://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,300,700' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>
</head>
<body>

<div class='container'>
  <div class='col-md-8 col-md-offset-2'>
    <%= yield %>
  </div>
</div>

<%= yield :fork %>

</body>
</html>
